<a href="https://colab.research.google.com/github/abohrer/AdminBSBMaterialDesign/blob/master/introdu%C3%A7%C3%A3o_ao_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd #chama a biblioteca pandas
notas = pd.read_csv('ratings.csv') #lê o arquivo csv
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
notas.shape #mostra quantos indices tem, quantas colunas

(100836, 4)

In [9]:
notas.columns = ['usuarioid', 'filmeid', 'nota', 'momento'] #renomeia
notas.head()

   usuarioid  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [14]:
notas['nota'].unique() #retorna os valores unicos

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [15]:
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [16]:
notas['nota'].mean()

3.501556983616962